@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="homepage-cards">
    <h1>Producten voor jou</h1>
</div>

<div class="homepage-cards">
    <h1>Onderdelen voor jou</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Klant</th>
            <th>Aantal Orders</th>
        </tr>
    </thead>
    @foreach (var c in Model.Customers)
    {        
        <tr>
            <td>@Html.DisplayName(c.Name)</td>
            <td>@Html.DisplayName(c.Orders.Count.ToString())</td>           
        </tr>
    }
</table>