@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Matrix Inc. Privacy Policy</h1>

<p>Welcome to Matrix Inc., the premiere (and only) supplier of industrial products
    and parts. This Privacy Policy outlines how we collect, use, store, lose, misplace, and
    occasionally find your data. Spoiler alert: We're not the CIA, but we do like pretending we are.
</p>

<h2>1. Information We Collect (No, not telepathically)</h2>
<p>
    When you visit Matrix Inc., we collect a small handful of details that make you you. Including, but not limited to:
    <ul>
        <li>Your name (real or stage name, your choice)</li>
        <li>Email address (preferably not one of those addresses that's only valid for 10 minutes)</li>
        <li>Shipping address (don't try shipping to the white house. We won't be fooled by that again)</li>
        <li>Payment information (we also accept Snickers)</li>
        <li>Your browser type, IP address, and how long you spent gazing longingly at our homepage</li>
    </ul>

    We do not collect your hopes, dreams, the name of your childhood pet, or your mother's maiden name.
    That is, unless you voluntarily tell us those in our reviews.
</p>

<h2>2. How We Use Your Information (Something Something Great Power Great Responsibility</h2>
<p>
    We use your data to:
    <ul>
        <li>Fulfill your extremely exciting orders (oooooooh, nuts and bolts... thrilling!)</li>
        <li>Email you stuff like receipts, product updates, and memes from the intern (optional)</li>
        <li>Improve our website so it's approximately 5.2% less confusing</li>
        <li>Comply with laws, unless they're boring laws or ones that were written in Latin</li>
    </ul>
    We will not sell your information to shady corporations or shadowy figures in trench coats.
    Unless they offer us a truly outrageous amount of money, in which case we might at least consider it...
    (We're kidding... probably)
</p>

<h2>3. Cookies (Not chocolate chip)</h2>
<p>
    Our website uses cookies, mostly because everyone else is doing it and we're easily peer=pressured.
    These help us remember:
    <ul>
        <li>What's in your cart</li>
        <li>Whether you prefer light mode, dark mode, or the total existential void</li>
        <li>That you visited us once in 2021 and never came back</li>
    </ul>

    You can disable cookies by adjusting your browser or yelling at your computer until it gives up. Whichever way works for you.
</p>

<h2>4. Data Security (Hi Jean-Paul!)</h2>
<p>
    Your data is stored in our moderately secure, password-protected system, guarded by firewalls, encryption, and
    one very sleepy IT guy named Greg.
    
    Greg assures us that he only spills coffee on the servers occasionally.
</p>

<h2>5. Sharing Your Info (Post it on the socials :D)</h2>
<p>
    We only share your information with:
    <ul>
        <li>Shipping carriers (so some guy in Helsinki doesn't randomly receive your stuff)</li>
        <li>Payment processors (hey, we want our money too)</li>
        Very trusted third parties who pinky promised that they wouldn't do anything bad
    </ul>
    We do not share your data with robots, aliens, or that random nosy neighbour.
</p>

<h2>6. Your Rights (Yes, you have them too)</h2>
<p>
    You may contect us at any time to:
    <ul>
        <li>View your data (don't expect much though)</li>
        <li>Correct your data (it's not the first time someone has put their pet's name as their actual name)</li>
        <li>Delete your data (don't worry, we have several backups in case you want to delete it)</li>
        <li>Ask questions that we most likely don't have the answer to</li>
    </ul>

    Contact us at ikgeefhiertotaalnietom@matrixinc.com. This email is monitored hourly by one of those
    annoying auto-reply bots. We check out the mailbox like once a year if we feel like it.
</p>

<h2>7. Changes To This Policy (Nothing is permanent ._.)</h2>
<p>
    We reserve the right to change this Privacy Policy at any time, for any reason, including, but not limited to:
    <ul>
        <li>Boredom</li>
        <li>Saturn's rings collapsing</li>
        <li>Caffeine buzz</li>
        <li>Sugar rush</li>
        <li>Other forms of substance-induced trances or hyperreactions</li>
    </ul>

    If we update it, we may update you. Or we may not. If you live in our office, you'll know when an update happens.
</p>

<h2>Closing Statement</h2>
<p>
    I just gotta ask. Why did you read this far? Are you okay? Do you need a Snickers? (Don't eat it, you can order our stuff with that).
    
    In any case, thanks for reading this all. We appreciate you more than we do our inventory system (I'll let you conclude which way that cookie crumbles).

    Matrix Inc. wishes you a fine industrial day. We are not reliable for failures in any of our products or parts.
</p>